<!DOCTYPE html>
<html>

<head>
  <title>Email kiểm tra từ {{ appName }}</title>
</head>

<body>
  <h1>Xin chào!</h1>
  <p>{{ message }}</p>
  <p>Cảm ơn bạn đã sử dụng {{ appName }}.</p>
  <p>Trân trọng,</p>
  <p>Đội ngũ {{ appName }}</p>
</body>

</html>